@import 'tailwindcss';

:root {
  --black: #181818;
  --dark: #333333;
  --white: #eeeeee;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: sans-serif;
}

select {
  color-scheme: dark;
}

select option {
  background-color: var(--black);
  color: var(--white);
}

select option:disabled {
  color: #8a8a8a;
}
